---
import Layout from '@/layouts/Layout.astro'
import { fonts } from '@/consts/fonts'
import Image from 'astro/components/Image.astro'
import cactus from '@/assets/blog-card/Cactus.webp'
---

<Layout
  title="Minimal Blog Card - devchallenges.io"
  description="A minimal blog card from Devchallenges.io!"
  fonts={fonts.MinimalBlogCard}
>
  <div class="flex h-dvh w-dvw items-center justify-center overflow-hidden bg-[var(--bgColor)] p-4">
    <div
      class="relative flex h-[387px] w-[367px] flex-col gap-4 overflow-hidden rounded-lg bg-[var(--bgColor)] p-4 pb-5 shadow-[var(--boxShadow)]"
    >
      <Image
        src={cactus}
        alt={'Cactus'}
        class={'rounded-lg w-full h-full  object-cover'}
        fetchpriority={'high'}
      />
      <div
        class="flex w-fit items-center justify-center rounded-full bg-[rgba(var(--colorTag),0.05)] px-4 py-1"
      >
        <span class="tag font-semibold">Design</span>
      </div>
      <div class="flex flex-col gap-1.5">
        <h1 class="title font-semibold">Embracing Minimalism</h1>
        <p class="text">
          From minimalist sculptures to minimalist paintings, this blog will inspire you to
          appreciate the beauty that lies in simplicity.
        </p>
      </div>
      <hr class="w-[calc(100% + 2rem)] -mx-4 border-[var(--colorHr)]" />
      <p class="author">Annie Spratt</p>
    </div>
  </div>
</Layout>

<style>
  :root {
    --font-family: 'Sora', 'Adjusted Arial Fallback';
    --boxShadow: 8px 8px 20px 0px rgba(85, 85, 85, 0.08);
    --fontTitle: 1.125rem;
    --fontBody: 0.875rem;
    --fontSmallText: 0.75rem;
    --fontTag: 0.625rem;
    --colorTag: 124, 25, 238;
    --colorText: #626774;
    --colorHr: #e5eaf0;
    --bgColor: #ffffff;
    --colorTextBold: #20293a;
  }

  .title {
    color: var(--colorTextBold);
    font-size: var(--fontTitle);
  }

  .text {
    color: var(--colorText);
    font-size: var(--fontBody);
  }

  .author {
    color: var(--colorText);
    font-size: var(--fontSmallText);
  }

  .tag {
    color: rgb(var(--colorTag));
    font-size: var(--fontTag);
  }

  @font-face {
    font-family: 'Adjusted Arial Fallback';
    src: local(Arial);
    size-adjust: 112%;
    ascent-override: 74%;
    descent-override: normal;
    line-gap-override: normal;
  }

  @font-face {
    font-family: 'Sora';
    src: url('/fonts/Sora/Sora-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: 'Sora';
    src: url('/fonts/Sora/Sora-Bold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
  }

  html {
    font-family: var(--font-family);
  }
</style>
