---
import Layout from '@/layouts/Layout.astro'
import { fonts } from '@/consts/fonts'
import { Image } from 'astro:assets'
import Logo from '@/assets/qr-code-generator/svg/Logo.svg'
---

<Layout
  title="QR Code Generator - devchallenges.io"
  description="A QR Code Generator page from Devchallenges.io!"
  fonts={fonts.QrCodeGenerator}
>
  <div
    class="flex h-dvh w-dvw flex-col items-center justify-center gap-4 overflow-hidden bg-[url('../assets/qr-code-generator/images/qa-bg-small.webp')] bg-cover bg-center bg-no-repeat p-4 lg:bg-[url('../assets/qr-code-generator/images/qa-bg.webp')]"
  >
    <div class="flex w-full flex-col items-center justify-center gap-8">
      <Image src={Logo} alt="QR Code Generator Logo" fetchpriority={'high'} />
      <div
        class="flex h-[68px] w-full flex-row justify-between gap-2 rounded-xl border-2 border-[var(--color2)] bg-[var(--color3)] p-[6px] md:w-[620px]"
      >
        <input
          type="text"
          placeholder="Enter URL"
          class="flex flex-[1] pl-[30px] text-[var(--color1)] outline-none placeholder:text-[var(--color1)]"
        />
        <button
          class="h-full w-[140px] cursor-pointer rounded-xl bg-[var(--color2)] text-[var(--color1)] transition hover:brightness-125 active:scale-95"
          >QR code</button
        >
      </div>
    </div>
  </div>

  <style slot="head">
    :root {
      --font-family: 'Outfit', 'Adjusted Arial Fallback';
      --fontBody: 1rem;
      --color1: #f2f5f9;
      --color2: #263fa9;
      --color3: #030616;
      --color4: #fafaf9;
      --color5: #f8fafc1a;
    }

    @font-face {
      font-family: 'Adjusted Arial Fallback';
      src: local(Arial);
      size-adjust: 112%;
      ascent-override: 74%;
      descent-override: normal;
      line-gap-override: normal;
    }

    @font-face {
      font-family: 'Outfit';
      src: url('/fonts/Outfit/Outfit-Regular.woff2') format('woff2');
      font-weight: 400;
      font-display: swap;
    }

    html {
      font-family: var(--font-family);
      font-size: var(--fontBody);
    }
  </style>
</Layout>
